.form-control {
    border-radius: 0;
    background: #fff;
    border: 1px solid #f0f1f5;
    color: #B1B1B1;
    height: 56px;
    &:focus, &:hover, &.active {
        box-shadow: none;
        background: #fff;
        color: #B1B1B1;
        box-shadow: none !important;
    }
    &:focus {
        border-color: #9cb0f4;
        outline: 0;
    }
}