.form-control {
  border-radius: 0;
  background: #fff;
  border: 1px solid #f0f1f5;
  color: #b1b1b1;
  height: 56px;
  &:focus,
  &:hover,
  &.active {
    box-shadow: none;
    background: #fff;
    color: #b1b1b1;
    box-shadow: none !important;
  }
  &:focus {
    border-color: #9cb0f4;
    outline: 0;
  }
}
