* {
  -webkit-font-smoothing: antialiased;
  -moz-os-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  // scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: #7e7e7e;
  font-weight: 400;
  background-color: #fbfbfb;
  background-image: linear-gradient(#fcfcfc, #fbfbfb, #f5f5f5, #f0f0f0);
}
p {
  line-height: 1.8;
  font-weight: 400;
}
.padding-0 {
  padding: 0 !important;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 130px 0 0 0;
  margin: 0 !important;
  overflow: hidden;
}
button:focus {
  outline: none !important;
}

.panel {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  &-heading {
    color: #777777;
    background-color: #f7f7f7;
    border-color: rgba(255, 255, 255, 0);
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
  }
  &-body {
    padding: 15px;
  }
}
.title-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  img {
    max-width: 60px;
    margin-right: 15px;
  }
  h3 {
    margin-bottom: 0;
    color: #3d4465;
  }
  h5 {
    margin-bottom: 0;
    color: #3d4465;
  }
}

@media screen and (max-width: 792px) {
  .wrapper {
    padding-top: 110px;
  }
}

@media screen and (max-width: 561px) {
  .wrapper {
    padding-top: 80px;
  }
}
